.container{
    background-color: rgb(22, 22, 22);
    display: flex;
    flex-direction: column;
    flex-basis: content;
    height: 50vh;
    /* width: 100vw; */
    border-radius: 1vw;
    color: white;
    align-items: center;
    padding-bottom: 2vh;
    /* margin-left: 70%; */
}
.top{
    margin: 0;
    margin-bottom: 2vh;
}
.logoimg{background-color: rgb(201, 201, 183);
    height: 6vw;
    width: 6vw;
    border-radius: 50%;
}